#musicPlayer{
	width:97%;
	height:100%;
	margin:0;
	border:1px solid red;
	list-style:none;
	display:flex;
	flex-direction:column;
}
#charter{
	margin-left:-40px;
	flex-basis:600px;
	background-color:black;
	color:white;
	display:flex;
}
#sideMenu{
	max-width:10px;
	background-color:LightGrey;
	list-style:none;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:flex-end;
}
.sideMenuIcon{
	flex-basis:4px;
	margin-right:20px;
	background-color:black;
	
}
#charterTracks{
	flex-grow:1;
	background-color:lightGreen;
	list-style:none;
	display:flex;
	flex-direction:column;
}
#face{
	margin-left:-40px;
	flex-basis:300px;
	background-color:lawnGreen;
	display:flex;
}
#faceImage{
	flex-basis:350px;
	background-color:grey;
	display:flex;
	justify-content:center;
	align-items:center;
}
#chart_image{
	width:275px;
	height:250px; /*maybe 300px*/
}
#chartInfo{
	flex-grow:1;
	background-color:grey;
	list-style:none;
	display:flex;
	flex-direction:column;
}
#playAddSongs{
	margin-top:auto;
	margin-bottom:10px;
}
#playAddMenu{
	margin-left:-40px;
	list-style:none;
	display:flex;
}
#playAddMenu li{
	margin:10px;
}
#playList{
	margin-left:-40px;
	flex-basis:300px;
	background-color:white;
}
#playLister{
	height:300px;
	border:5px solid transparent;
	list-style:none;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.trackDetail{
	margin-left:-40px;
}
.track{
	list-style:none;
	display:flex;
	justify-content:space-between;
}
#playHeader{
	margin-left:0;
	font-weight:bold;
	background-color:black;
	color:white;
}
.track li{
	flex-basis:200px;
	padding:2px;
}
.trackDetail:nth-child(even){
	background-color:LightGrey;
	color:black;
}
.trackDetail:nth-child(odd){
	color:black;
}

#currentlyPlaying{
	margin-left:-40px;
	flex-basis:100px;
	background-color:green;
}
#trackOptions{
	list-style:none;
	display:flex;
	justify-content:space-between;
	align-content:flex-end;
}
.trackOption{
	margin-left:-40px;
	margin-top:40px;
	background-color:blue;
	color:red;
}
