#parent{
	width:1000px;
	height:1000px;
	border:2px solid red;
	display:flex;
	/*flex-direction:column;*/
	/*flex-wrap:wrap-reverse; */
	/*justify-content:flex-end;*/
	align-items:center;
}

.child{
	width: 100px;
	/*height: 100px;*/
	background-color: #8cacea;
	margin: 8px;	
}