body{
	background-color:black;
}
#charter{
	width:100%;
	height:100%;
	position: relative;
	background-color:grey;
	display:flex;
	flex-direction:column;
}


#upperSection{
/*	flex-grow:1;*/
	border:1px solid white;
	display:flex;
	flex-direction:column;
	background-color:grey;
	flex-wrap:wrap;
}
#playListInfo{
	background-color: white;
	height: 250px;
	position: relative;
}
#playListInfo p{
	position: absolute;
	top: 40%;
	left: 20%;
	color: rgb(89,89,89);
}
#face{
	flex-basis: 250px;
	display:flex;
}
#faceImage{
	flex-basis:350px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:25px;
}
#faceImageInput{
	width:1px;
}
#face_img{
	width:300px;
	height:250px;
}
#face_img:hover{
	cursor:pointer;
}
#chartInfo{
	flex-basis:900px;
	flex-grow:0;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	margin-left:10px;
}
#chartHeadingSmall{
	visibility: hidden;
}
#mainSettings{
	margin-left:0px;
	flex-grow:1;
	visibility:hidden;
}
#settingsForm{
	background-color:rgb(245,245,245);
	color: black;
	margin-top:20px;
	margin-right:50px;
	padding-left:15px;
	box-shadow:0px 0px 15px 12px black;
}
#settingsForm input{
	border-radius:5px;
}
#defaultImageSelector{
	border: 2px solid black;
}
#defaultImageSelector:hover{
	cursor:pointer;
	background-color:rgb(169,169,169);
	font-weight:bold;
}
.spacing{
	margin-left:15px;
}
#saveButton:hover{
	cursor:pointer;
}
#cancelButton{
	cursor:pointer;
}
#playAddSongs{
	margin-top:auto;
	margin-bottom:10px;
}
#playAll{
	text-align:center;
}
#playAll img{
	width:20px;
	height:20px;
}
#addSongs img{
	width:20px;
	height:20px;
}
#settingsIcon img{
	width:20px;
	height:20px;
}
#playAddMenu{
	margin-top: auto;
	display:flex;
}
#playAddMenu div{
	margin:10px;
}
#playAddMenu div:hover{
	cursor:pointer;
}
#playAddMenu label{
	cursor:pointer;
}

#playHeader{
	margin-left:0;
	font-weight:bold;
	background-color:grey;
	color:white;
}
#currentlyPlaying{
	flex:0 0 50px;
	background-color:grey;
	display:flex;
	justify-content:space-between;
}
#currentSongDetails{
	max-height:50px;
	border:5px solid transparent;
	flex-basis:250px;
	display:flex;
	justify-content:space-between;
}
#currentSongImage{
	flex-basis:50px;
	max-height:50px;
	margin:1px;
	color:black;
}
#footerImage{
	width:50px;
	height:50px;
}
#songTitleAndArtist{
	flex-grow:1;
	max-height:50px;
	margin:1px;
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
}
#songTitleAndArtist div{
	flex-basis:25px;
} 
#currentAudio{
		align-self:center;
		flex-grow: 1;
		height:30px;
}
#trackOptions{
	flex-basis:400px;
	display:flex;
	justify-content:space-around;
	align-self: center;
}
.trackOption{
	margin: 10px;
	color:white;
}
.trackOption img{
	width:30px;
	height:30px;
}
.trackOption:hover{
	cursor:pointer;
	
	
}
#footer{
	background-color:rgb(173,173,173);
	margin-top:10px;
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-content:center;
}
#socials{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.socialIcons{
	width:25px;
	height:25px;
	margin:5px;
}

@media screen and (max-width:600px){
	#face{
		display: flex;
		flex-direction: column;
		height:350px;
	}
	#faceImage{
		height: 50%;
		width: 50%;
		align-self: center;
		margin: 5%;
	}
	#face_img{
		width:150px;
		height:150px;
	}
	#chartInfo{
		flex-wrap: nowrap;
		flex-direction: column;
		height: 100%;
	}
	#chartHeadingDiv{
		height: 50%;
		text-align: center;
	}
	#chartHeading{
		display: none;
	}
	#chartHeadingSmall{
		visibility: visible;
	}
	#upperTrackTitle{
		text-align: center;
	}
	#upperArtistName{
		text-align: center;
	}
	#songAdder{
		display: none;
	}
	#playAddMenu{
		justify-content: center;
	}
	#mainSettings{
		position: absolute;
		top: 0;
		visibility: hidden;
		right: -1%;
	}
	#currentlyPlaying {
		flex: 0 0 20px;
		flex-direction: column;
		height: 100px;
	}
	#currentSongDetails{
		display: none;
	}
	#currentAudio{
		margin-top: 10px;
		height: 100px;
		width: 90%;
	}
	.trackOption img{
		width:50px;
		height:50px;
	}
}
@media screen and (max-width:390px){
	#face{
		display: flex;
		flex-direction: column;
		height:400px;
	}
	#faceImage{
		height: 50%;
		width: 50%;
		align-self: center;
		margin: 5%;
	}
	#face_img{
		width:150px;
		height:150px;
	}
}
@media screen and (max-width:240px){
	#face{
		display: flex;
		flex-direction: column;
	}
}
